.box {
    transition: all 0.5s;
    translate: 0px 260px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.inner:hover .box {
  translate: 0px 0px;
}
.nav-item{
    transition: all 0.5;
    -webkit-transition: all 0.5;
    -moz-transition: all 0.5;
    -ms-transition: all 0.5;
    -o-transition: all 0.5;
}
.nav-link:hover{
    color: blueviolet !important;
}
.widthsmall{
    width: 60px !important;
}
.attach{
    left: 207px !important;
}
.word{
    background-color: #CFF4FC;
}
.bgpink{
    width: 80px;
    background-color: #F8D7DA;
}
.poscenter{
    top: 30px;
    left: 100px;
}
.widthmargin{
    position: absolute;
    top: 60%;
    left: 50%;
}
.center{
    top: 20%;
    left: 15%;
}
i{
    cursor: pointer;
}

input::placeholder
 {
    color: rgb(182, 182, 182) !important;
}
.containera1{
    width: 80%;
    margin: auto;
}
.loading-screen {
    position: absolute;
    z-index: 9999;
    background-color: #d71818;
    color: white;
    display: flex;
}
.meal{
    cursor: pointer;
}
.meal-layer1{
    background-color: rgba(255, 255, 255, 0.726) !important;
    width: 100%;
    height: 100%;
    top: 100% !important;
    transition: all .7s;
}
.meal:hover .meal-layer1{
    top: 0 !important;
}
.ts{
    top:0;
    left:0;
    right: 0;
    bottom: 0;
}
.top-12{
    width: 70%;
}
li{
    cursor: pointer;
}
.btncon{
    width: 70px;
    left: 45% !important;
    top: 100%;
}